
<p>
1. Insert the text in the cell those married and greater than salary 600000.<br>
2. Insert the text in the cell those admins or 8 years experience.<br>
3. Insert the text in the cell those are not residing in London.<br>
</p>
<hr>
<table *ngIf="employee" border="1">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">Full Name</th>
      <th scope="col">City</th>
      <th scope="col">Experience</th>
      <th scope="col">Salary</th>
      <th scope="col">Married</th>
      <th scope="col">Info</th>
      <th scope="col">Role</th>
      <th scope="col">Else</th>
      <th scope="col">Then</th>
    </tr>
  </thead>

    <tr *ngFor="let data of employee">
      <td>{{data.empid}}</td>
      <td>{{data.fullname}}</td>
      <td>{{data.city}}</td>
      <td>{{data.experience}}</td>
      <td>{{data.salary}}</td>
      <td>{{data.married}}</td>
      <td>
        <p *ngIf="data.married ==true && data.salary && data.salary >= 60000">married and greater than salary 60000 </p>
        <p *ngIf="data.role =='admin' || data.experience =='8 years'">admin or 8years </p>
        <p *ngIf="data.city !='london'">not residing in London </p>
      </td>
      <td>{{data.role}}</td>
      <td>
        <button *ngIf="data.role =='admin'; else view" class="btn btn-primary">Edit</button>
        <ng-template #view>
          <button class="btn btn-primary">View</button>
        </ng-template>

      </td>
      <td>

        <ng-container *ngIf="data.role =='public';then  public; else user">
        </ng-container>

        <ng-template #user>
          <p>authenticated</p>
        </ng-template>
        <ng-template #public>
          <p>public</p>
        </ng-template>

      </td>
    </tr>

  </table>