<ul *ngFor="let data of employee" [ngSwitch]="data.city">
  <li appMouseoverHighlighter appHighlighter *ngSwitchCase="'Newyork'">{{data.city}}</li>
  <li appMouseoverHighlighter appHighlighter *ngSwitchCase="'london'">{{data.city}}</li>
  <li appMouseoverHighlighter appHighlighter *ngSwitchCase="'Dubai'">{{data.city}}</li>
  <li appMouseoverHighlighter appHighlighter *ngSwitchCase="'Tokyo'">{{data.city}}</li>
  <li appMouseoverHighlighter appHighlighter *ngSwitchCase="'Delhi'">{{data.city}}</li>
  <li appMouseoverHighlighter appHighlighter *ngSwitchDefault>{{data.city}}</li>
</ul>